/* LoadingS
  /* LoadingScreen.css */

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .loading-screen.hidden {
    opacity: 0;
    transform: translateY(-50px); /* Moves the logo up slightly */
  }
  
  .logo-container {
    font-size: 100px;
    line-height: 1.9;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: scaleUpDown 2s ease-in-out infinite;
  }
  
  @keyframes scaleUpDown {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }