* { box-sizing: border-box; }

html, body {
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	background-color: #fbfff9;
	line-height: 1.7;
	font-size: 19px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	color: #FFF;
	overflow-x: hidden;
}